# Python
*.pyc
__pycache__/
db.sqlite3

# Node.js
node_modules/

# React Native
*.log
*.lock
android/
ios/

# General
.DS_Store

# For backend
betterhab-backend/db.sqlite3
betterhab-backend/__pycache__/

# For frontend-mobile
betterhab-frontend-mobile/node_modules/
betterhab-frontend-mobile/build/

# For frontend-pc
betterhab-frontend-pc/node_modules/
betterhab-frontend-pc/build/
