# Python
*.pyc
__pycache__/
db.sqlite3

# Node.js
node_modules/

# React Native
*.log
*.lock
android/
ios/

# General
.DS_Store
# For backend
echo "db.sqlite3" >> betterhab-backend/.gitignore
echo "__pycache__/" >> betterhab-backend/.gitignore

# For frontend-mobile
echo "node_modules/" >> betterhab-frontend-mobile/.gitignore
echo "build/" >> betterhab-frontend-mobile/.gitignore

# For frontend-pc
echo "node_modules/" >> betterhab-frontend-pc/.gitignore
echo "build/" >> betterhab-frontend-pc/.gitignore
